@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--color-text-primary);
  background-color: var(--bg-primary);
}

button {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  border-color: var(--color-primary);
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

